<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="cateringmamah_menu_root"
        name="Catering Mamah"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="cateringmamah_makanan_menu_categ"
        name="Makanan"
        parent="cateringmamah_menu_root"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="cateringmamah_pegawai_menu_categ"
        name="Pegawai"
        parent="cateringmamah_menu_root"
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
	  id="cateringmamah_transaksi_menu_categ"
	  name="Transaksi"
	  parent="cateringmamah_menu_root"
	  sequence="42"/>    

</odoo>